:root {
  --branding-color: #d69f7e;
  --secondary-color: #f8edeb;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

/* .hero-p {
  color: #fec89a;
} */
h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
  font-family: var(--default-font-family);
}

.btn-branding:hover {
  border: 1px solid black;
  color: var(--branding-color);
  background-color: white;
}

.btn-branding-outline {
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}

.btn-branding-outline:hover {
  color: black;
}

.project-description {
  padding: 50px 60px;
}

.container img {
  margin-top: 120px !important;
}

.about-section img {
  margin-top: 0px !important;
}
.about-section {
  padding: 100px 20px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

/* .about-section-content {
    font-size: 44px;
    line-height: 50px;
} */
.about-section-content h1 {
  font-size: 44px !important;
  line-height: 50px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section-content {
  margin: 30px;
}
.contact-container {
  padding: 80px 20px;
}
.content-container {
  padding: 30px 20px;
}
.about-section img {
  margin-top: 50px !important;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
nav ul {
  padding: 5px 0px 0px 0px;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-family: var(--default-font-family);
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: white;
}

.nav-container {
  background-color: var(--branding-color);
  padding: 3px 9em;
}
.nav-name {
  padding-top: 10px;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  padding-top: 15px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

.contact-box p {
  font-size: 12px;
}

.content a {
  text-decoration: none;
  color: var(--branding-color);
}

.content a:hover {
  text-decoration: underline;
  color: black;
}
@media (max-width: 900px) {
  .project-description {
    padding: 0px;
    text-align: center;
  }
  .project-description h2 {
    font-size: 46px;
  }
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section-content h1 {
    font-size: 44px;
    line-height: 50px;
  }

  .about-section-content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  footer .contact-box {
    padding: 30px;
  }

  footer .email-link {
    font-size: 15px;
    margin-top: 20px;
  }
  .nav-container {
    padding: 5px !important;
  }
  nav {
    font-size: 12px;
  }
  .nav-name {
    font-size: 16px;
  }
  .contact-box {
    padding: 30px !important;
  }
}
