:root {
  --branding-color: #eaac8b;
  --secondary-color: #f8edeb;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding-outline {
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.project-description {
  padding: 50px 60px;
}

.container img {
  margin-top: 80px;
}

@media (max-width: 760px) {
  .project-description {
    padding: 0px;
    text-align: center;
  }
  .project-description h2 {
    font-size: 46px;
  }
  h1 {
    font-size: 46px;
    line-height: 1.5;
  }
  .hero {
    padding: 80px 20px;
  }
}
